
@{
    Layout = null;
}

<html lang="en">
@await Component.InvokeAsync("_HeadUILayoutComponentPartial")

<body>
    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")
    @RenderBody()

</body>
</html>
